.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.9) 100%), url('../assets/background_hero_img.jpg');
    min-height: 100vh;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid rgb(50, 50, 50);
    box-sizing: border-box;
    overflow: hidden;
}

.logo{
    color: red;
}


.button_danger{
    background-color: rgb(229,9,20);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px !important;
    min-width: fit-content
}

.row_padding{
    display: flex;
    align-items: center;
}

.left_items{
    display: flex;
    gap: 21px;
    flex: 4 2;
    justify-content: flex-end;
    position: relative;
}

.left-items:nth-child(0){
    flex: 8;
    min-height: 130px;
}
.left-items:nth-child(1){
    flex: 2;
}

.icon_image{
    position: absolute;
    top: 8px;
    left: 9px;
}

.hero_text_container{
    text-align: center;
    color: white;
    margin-block: 10rem;
}
.hero_text_container h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.hero_text_container p{
    font-size: 1.5rem;
    padding-top: 2rem;
    margin: 0;
}